{% extends 'base.html' %}

{% block content %}
<div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Restaurants</h2>
    <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    {% for restaurant in results %}
        <a href="{{ restaurant.url }}" class="group">
            <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
                <img src="{{restaurant.image}}" alt="{{ restaurant.title }}" class="w-full h-full object-center object-cover group-hover:opacity-75">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="mt-4 text-lg text-gray-900">{{ restaurant.title }}</h3>
                <p class="mt-1 text-sm text-gray-700">{{ restaurant.subtitle }}</p>
              </div>
              <p class="m-1 mt-4 text-2xl">{{ restaurant.rating }}</p>
            </div>
        </a>
    {% endfor %}
    </div>
</div>
{% endblock content %}

