<form id="autocomplete-form"
      method="get"
      action="/"
      class="flex gap-2 justify-center">
  <div class="relative">
    <input id="autocomplete-input"
           name="q"
           value="{{ query }}"
           class="rounded drop-shadow"
           type="search"
           autocomplete="off"/>
    <ul id="autocomplete-list"
        class="absolute top-11 z-10 w-full overflow-hidden list-none bg-white rounded drop-shadow">
    </ul>
  </div>
  <button class="px-2 py-1 bg-gradient-to-r from-sky-500 to-indigo-500 rounded text-white"
          type="submit">Search</button>
</form>
<script>
const LIST_ITEM_CLASS = "p-1 cursor-pointer hover:bg-slate-50";
const inputEl = document.getElementById("autocomplete-input");
const listEl = document.getElementById("autocomplete-list");
const formEl = document.getElementById("autocomplete-form");

const loadingEl = document.createElement('li');
loadingEl.className = LIST_ITEM_CLASS;
loadingEl.appendChild(document.createTextNode("Loading..."));

const inputListener = inputEl.addEventListener("input", (event) => {
  const value = event.target.value;
  if(value.length < 3) {
    return;
  }

  // Clear list and add loading message
  while (listEl.lastChild) {
    listEl.removeChild(listEl.lastChild);
  }
  listEl.appendChild(loadingEl);

  // Fetch autocomplete items and push them to `autocomplete-list`
  console.log("search: ", value);
  fetch(`/autocomplete?q=${value}`)
    .then(response => response.json())
    .then(suggestions => {
        if(listEl.contains(loadingEl)) {
          listEl.removeChild(loadingEl);
        }
        suggestions.forEach(s => {
          const itemEl = document.createElement("li");
          const anchor = document.createElement("a");
          anchor.className = "block";
          anchor.href = `/?q=${s}`;
          anchor.text = s;
          itemEl.appendChild(anchor);
          itemEl.className = LIST_ITEM_CLASS;
          listEl.appendChild(itemEl);
        });
    });
}, false)

<!-- const listListener = listEl.addEventListener("click", (event) => { -->
<!--   if(event.target.tagName === "LI") { -->
<!--     const value = event.target.innerText; -->
<!--     inputEl.value = value; -->

<!--     while (listEl.lastChild) { -->
<!--       listEl.removeChild(listEl.lastChild); -->
<!--     } -->
<!--   } -->
<!-- }, false); -->
</script>

